<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
    <appSettings>
        <add key="WOLFSSL_DLL_PATH" value="C:/Windows/System32"/>
    </appSettings>
    <appSettings>
        <add key="WOLFSSL_CERTS_PATH" value="C:/workspace/wolfssl/certs"/>
    </appSettings>
</configuration>
