name: --disable-tls Tests

# START OF COMMON SECTION
on:
  push:
    branches: [ 'master', 'main', 'release/**' ]
  pull_request:
    branches: [ '*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
# END OF COMMON SECTION

jobs:
  make_check:
    strategy:
      matrix:
        config: [
          # Add new configs here
          '--disable-tls --enable-all CFLAGS="-pedantic -Wdeclaration-after-statement -DTEST_LIBWOLFSSL_SOURCES_INCLUSION_SEQUENCE"',
        ]
    name: make check
    if: github.repository_owner == 'wolfssl'
    runs-on: ubuntu-24.04
    # This should be a safe limit for the tests to run.
    timeout-minutes: 6
    steps:
      - uses: actions/checkout@v4
        name: Checkout wolfSSL

      - name: Test wolfSSL
        run: |
          ./autogen.sh
          ./configure ${{ matrix.config }}
          make -j 4
          make check

      - name: Print errors
        if: ${{ failure() }}
        run: |
          for file in scripts/*.log
          do
              if [ -f "$file" ]; then
                  echo "${file}:"
                  cat "$file"
                  echo "========================================================================"
              fi
          done
