name: Build Rust Wrapper

# START OF COMMON SECTION
on:
  push:
    branches: [ 'master', 'main', 'release/**' ]
  pull_request:
    branches: [ '*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
# END OF COMMON SECTION

jobs:
  build_wolfssl:
    name: Build wolfSSL Rust Wrapper
    if: github.repository_owner == 'wolfssl'
    runs-on: ubuntu-24.04
    # This should be a safe limit for the tests to run.
    timeout-minutes: 10
    steps:
    - name: Build wolfSSL
      uses: wolfSSL/actions-build-autotools-project@v1
      with:
        path: wolfssl
        configure: ${{ matrix.config }}
    - name: Build Rust Wrapper
      working-directory: wolfssl
      run: make -C wrapper/rust
    - name: Run Rust Wrapper Tests
      working-directory: wolfssl
      run: make -C wrapper/rust test
    strategy:
      matrix:
        config: [
          # Add new configs here
          '',
          '--enable-all --enable-asn=template',
          '--enable-all --enable-asn=original',
          '--enable-all --enable-asn=template CPPFLAGS=-DWOLFSSL_OLD_OID_SUM',
          '--enable-all --enable-asn=original CPPFLAGS=-DWOLFSSL_OLD_OID_SUM',
          '--enable-harden-tls',
          '--enable-tls13 --enable-session-ticket --enable-dtls --enable-dtls13
             --enable-opensslextra --enable-sessioncerts
             CPPFLAGS=''-DWOLFSSL_DTLS_NO_HVR_ON_RESUME -DHAVE_EXT_CACHE
             -DWOLFSSL_TICKET_HAVE_ID -DHAVE_EX_DATA -DSESSION_CACHE_DYNAMIC_MEM'' ',
          '--enable-all --enable-secure-renegotiation',
          '--enable-all --enable-haproxy --enable-quic',
          '--enable-dtls --enable-dtls13 --enable-earlydata
             --enable-session-ticket --enable-psk
             CPPFLAGS=''-DWOLFSSL_DTLS13_NO_HRR_ON_RESUME'' ',
          '--enable-experimental --enable-kyber --enable-dtls --enable-dtls13
             --enable-dtls-frag-ch',
          '--enable-all --enable-dtls13 --enable-dtls-frag-ch',
          '--enable-dtls --enable-dtls13 --enable-dtls-frag-ch
           --enable-dtls-mtu',
          '--enable-dtls --enable-dtlscid --enable-dtls13 --enable-secure-renegotiation
            --enable-psk --enable-aesccm --enable-nullcipher
            CPPFLAGS=-DWOLFSSL_STATIC_RSA',
          '--enable-ascon --enable-experimental',
          '--enable-ascon CPPFLAGS=-DWOLFSSL_ASCON_UNROLL --enable-experimental',
          '--enable-sniffer --enable-curve25519 --enable-curve448 --enable-enckeys
            CPPFLAGS=-DWOLFSSL_DH_EXTRA',
          '--enable-dtls --enable-dtls13 --enable-dtls-frag-ch
            --enable-dtls-mtu CPPFLAGS=-DWOLFSSL_DTLS_RECORDS_CAN_SPAN_DATAGRAMS',
          '--enable-opensslextra CPPFLAGS=''-DWOLFSSL_NO_CA_NAMES'' ',
          '--enable-opensslextra=x509small',
          'CPPFLAGS=''-DWOLFSSL_EXTRA'' ',
          '--enable-lms=small,verify-only --enable-xmss=small,verify-only',
          '--disable-sys-ca-certs',
          '--enable-all CPPFLAGS=-DWOLFSSL_DEBUG_CERTS ',
          '--enable-coding=no',
          '--enable-dtls --enable-dtls13 --enable-ocspstapling --enable-ocspstapling2
           --enable-cert-setup-cb --enable-sessioncerts',
          '--disable-sni --disable-ecc --disable-tls13 --disable-secure-renegotiation-info',
          'CPPFLAGS=-DWOLFSSL_BLIND_PRIVATE_KEY',
        ]
